@layer components {
    .mixin-button-like {
        @apply flex items-center box-border transition-colors cursor-pointer select-none;
    }

    .mixin-button-sm {
        @apply gap-0.5 px-2 py-1 text-sm leading-none;
    }

    .mixin-button-base {
        @apply gap-2 px-4 py-1 text-base;
    }

    .mixin-textarea-any {
        > textarea {
            @apply block w-full transition-colors leading-none resize-none p-2 whitespace-pre-wrap;
        }

        [data-role="footer"] {
            @apply w-full border-t;
        }

        [data-role="counter"] {
            @apply w-fit ml-auto px-2 text-xs border-l;
        }
    }

    .mixin-char-input-like {
        @apply after:content-['.'] relative;

        > input {
            @apply absolute inset-0 transition-colors;
        }
    }

    .mixin-char-input-sm {
        @apply mixin-button-sm;

        > input {
            @apply mixin-button-sm absolute inset-0 transition-colors;
        }
    }

    .mixin-char-input-base {
        @apply mixin-button-base;
        // OVERRIDE
        @apply px-2;

        > input {
            @apply mixin-button-base absolute inset-0 transition-colors;
            // OVERRIDE
            @apply px-2;
        }
    }

    .mixin-page-like {
        @apply flex flex-col grow overflow-auto;
    }

    .mixin-page-base {
        @apply px-4 py-4 gap-y-4;
    }

    .mixin-page-content-like {
        @apply flex flex-col;
    }

    .mixin-page-content-base {
        @apply gap-4;
    }

    .mixin-panel-like {
        @apply flex flex-col grow max-h-full;
    }

    .mixin-panel-base {
        @apply px-4 py-4 gap-y-4 max-w-72 sm:max-w-prose;
    }

    .mixin-checkbox-like {
        @apply cursor-pointer relative  w-fit;

        [data-role="inner-part"] {
            @apply after:content-['.'] 
                after:flex 
                after:opacity-0
                after:aspect-square
                after:h-4
                after:w-4
                after:pointer-events-none
                transition-colors;
        }

        > input {
            @apply absolute 
            inset-0 
            opacity-0 
            cursor-pointer;
        }
    }

    .mixin-checkbox-sm {
        @apply p-1 text-sm leading-none;

        > input {
            @apply p-1 text-sm leading-none absolute inset-0 transition-colors;
        }
    }

    .mixin-Pcard-like {
        @apply divide-y border;
    }

    .mixin-Pcard-base {
        [data-role="section"] {
            @apply py-2 px-4;
        }
    }

    .mixin-content-grid {
        > [data-track] {
            @apply w-full mx-auto;
        }

        > [data-track="full"] {
            @apply max-w-full;
        }

        > [data-track="lg"] {
            @apply max-w-[900px];
        }

        > [data-track="base"] {
            @apply max-w-[700px];
        }

        > [data-track="sm"] {
            @apply max-w-[450px];
        }
    }

    .mixin-article-any {
        @apply flex flex-col gap-4;

        header {
            @apply flex flex-col gap-1;
        }

        h1 {
            @apply font-bold text-3xl;
        }

        strong {
            @apply font-bold;
        }

        h2 {
            @apply font-bold text-2xl;
        }

        a {
            @apply font-bold underline;
        }

        figure {
            @apply flex flex-col gap-1;
        }

        img {
            @apply aspect-[16/9] object-contain bg-gray-200 border border-gray-900;
        }

        figcaption {
            @apply text-xs text-gray-600;
        }
    }
}
