@layer components {
  .mixin-button-like {
    @apply flex items-center box-border transition-colors cursor-pointer select-none;
  }
  .mixin-button-sm {
    @apply gap-0.5 px-2 py-1 text-sm leading-none;
  }
  .mixin-button-base {
    @apply gap-2 px-4 py-1 text-base;
  }
  .mixin-textarea-any > textarea {
    @apply block w-full transition-colors leading-none resize-none p-2 whitespace-pre-wrap;
  }
  .mixin-textarea-any [data-role=footer] {
    @apply w-full border-t;
  }
  .mixin-textarea-any [data-role=counter] {
    @apply w-fit ml-auto px-2 text-xs border-l;
  }
  .mixin-char-input-like {
    @apply after:content-["."] relative;
  }
  .mixin-char-input-like > input {
    @apply absolute inset-0 transition-colors;
  }
  .mixin-char-input-sm {
    @apply mixin-button-sm;
  }
  .mixin-char-input-sm > input {
    @apply mixin-button-sm absolute inset-0 transition-colors;
  }
  .mixin-char-input-base {
    @apply mixin-button-base;
    @apply px-2;
  }
  .mixin-char-input-base > input {
    @apply mixin-button-base absolute inset-0 transition-colors;
    @apply px-2;
  }
  .mixin-page-like {
    @apply flex flex-col grow overflow-auto border-x border-gray-900;
  }
  .mixin-page-base {
    @apply px-4 py-4 gap-y-4;
  }
  .mixin-page-content-like {
    @apply flex flex-col;
  }
  .mixin-page-content-base {
    @apply gap-4;
  }
  .mixin-panel-like {
    @apply flex flex-col grow max-h-full;
  }
  .mixin-panel-base {
    @apply px-4 py-4 gap-y-4 max-w-72 sm:max-w-prose;
  }
  .mixin-checkbox-like {
    @apply cursor-pointer relative rounded-full;
  }
  .mixin-checkbox-like [data-role=inner-part] {
    @apply after:content-["."] 
                after:flex 
                after:opacity-0
                after:aspect-square
                after:h-2
                after:w-2
                after:pointer-events-none
                transition-colors 
                rounded-full;
  }
  .mixin-checkbox-like > input {
    @apply absolute 
            inset-0 
            opacity-0 
            cursor-pointer;
  }
  .mixin-checkbox-sm {
    @apply p-1 text-sm leading-none;
  }
  .mixin-checkbox-sm > input {
    @apply p-1 text-sm leading-none absolute inset-0 transition-colors;
  }
  .mixin-Pcard-like {
    @apply divide-y border;
  }
  .mixin-Pcard-base [data-role=section] {
    @apply py-2 px-4;
  }
  .mixin-content-grid {
    display: grid;
    grid-template-columns: [full-content-start] 1fr [lg-content-start] minmax(0, 100px) [base-content-start] minmax(0, 125px) [sm-content-start] minmax(0, 450px) [sm-content-end] minmax(0, 125px) [base-content-end] minmax(0, 100px) [lg-content-end] 1fr [full-content-end];
  }
  .mixin-content-grid > [data-track=full] {
    grid-column: full-content-start/full-content-end;
  }
  .mixin-content-grid > [data-track=lg] {
    grid-column: lg-content-start/lg-content-end;
  }
  .mixin-content-grid > [data-track=base] {
    grid-column: base-content-start/base-content-end;
  }
  .mixin-content-grid > [data-track=sm] {
    grid-column: sm-content-start/sm-content-end;
  }
  .mixin-article-any {
    @apply flex flex-col gap-4;
  }
  .mixin-article-any header {
    @apply flex flex-col gap-1;
  }
  .mixin-article-any h1 {
    @apply font-bold text-3xl;
  }
  .mixin-article-any strong {
    @apply font-bold;
  }
  .mixin-article-any h2 {
    @apply font-bold text-2xl;
  }
  .mixin-article-any a {
    @apply font-bold underline;
  }
  .mixin-article-any figure {
    @apply flex flex-col gap-1;
  }
  .mixin-article-any figcaption {
    @apply text-xs text-gray-600;
  }
}/*# sourceMappingURL=mixins.css.map */