@using MVC_News.MVC.Models.Partials
@model CheckboxFieldPartialViewModel

<div class="mixin-checkbox-like mixin-checkbox-sm theme-checkbox-generic-white">
    <div data-role="inner-part"></div>
    @Html.CheckBox(Model.Name, Model.Value)
</div>