<div class="mixin-page-like mixin-page-base h-full">
    <div class="flex flex-col gap-2 grow justify-center items-center text-center">
        <div class="text-4xl font-bold">
            404 Not Found
        </div>
        <div class="text-xl">
            The page you're trying to access does not exist.
        </div>
    </div>
</div>