@model string?;

<div class="mixin-page-like mixin-page-base h-full">
    <div class="flex flex-col gap-2 grow justify-center items-center">
        <div class="text-4xl font-bold text-center">
            500 Internal Server Error
        </div>
        <div class="text-xl text-center">
            Something went wrong with your request.
        </div>
        @if (Model is not null)
        {
            <div class="w-96 bg-white border border-gray-900 divide-y divide-gray-900">
                <div class="text-xs px-2 py-1">
                    <div>
                        Error Message
                    </div>

                </div>
                <div class="text-sm px-2 py-1">
                    @Model
                </div>
            </div>
        }
    </div>
</div>