@model ControllerExceptionViewModel;

<div class="mixin-page-like mixin-page-base h-full">
    <div class="flex flex-col gap-2 grow justify-center items-center">
        <div class="text-4xl font-bold text-center">
            500 Internal Server Error
        </div>
        <div class="text-xl text-center">
            Something went wrong with your request.
        </div>
        @if (Model.ExcepetionMessage is not null)
        {
            <div class="w-96 mixin-Scard-like mixin-Scard-base theme-Scard-generic-white border token-default-border-color token-default-shadow divide-y token-default-divide-color">
                <section data-role="section">
                    <div class="token-card--header--primary-text">
                        Error Message
                    </div>
                </section>
                <section data-role="section">
                    <div class="token-card--header--secondary-text">
                        @Model.ExcepetionMessage
                    </div>
                </section>
            </div>
        }
    </div>
</div>