@model BaseViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_News.MVC</title>
    <link rel="stylesheet" href="~/css/dist/output.css" asp-append-version="true" />
    <script src="~/js/dist/bundle.js" asp-append-version="true"></script>
</head>

<body class="flex flex-col bg-orange-50 relative">
    <header class="flex flex-col shrink-0 bg-orange-50 border-b border-gray-900 divide-y divide-gray-900 overflow-hidden">
        <div class="px-4 py-2 gap-2 overflow-x-auto">
            <div class="flex flex-row max-w-[1000px] w-full mx-auto gap-2 justify-between">
                <ol class="flex flex-row gap-[inherit]">
                    <button type="button" class="mixin-button-like mixin-button-sm theme-button-generic-white gap-2 shrink-0">
                        <div>Menu</div>
                        <div>☰</div>
                    </button>
                    <a href="/" class="mixin-button-like mixin-button-sm theme-button-generic-white gap-2 shrink-0">
                        <div>Home</div>
                        <div>🏠︎</div>
                    </a>
                    <a href="/articles/search" class="mixin-button-like mixin-button-sm theme-button-generic-white gap-2 shrink-0">
                        <div>Search</div>
                        <div>❍</div>
                    </a>
                </ol>
                <ol class="flex flex-row gap-[inherit]">
                    @if (!User.Identity!.IsAuthenticated)
                    {
                        <a href="/register" class="mixin-button-like mixin-button-sm theme-button-generic-yellow shrink-0">
                            Register
                        </a>
                        <a href="/login" class="mixin-button-like mixin-button-sm theme-button-generic-yellow shrink-0">
                            Login
                        </a>
                    }
                    else
                    {
                        <a href="/users/account" class="mixin-button-like mixin-button-sm theme-button-generic-white shrink-0">
                            <div>User</div>
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="/articles/manage" class="mixin-button-like mixin-button-sm theme-button-generic-yellow shrink-0">
                                Manage Content
                            </a>
                        }
                        <a href="/logout" class="mixin-button-like mixin-button-sm theme-button-generic-red shrink-0">
                            Logout
                        </a>
                    }
                </ol>
            </div>
        </div>
        <div class="px-4 py-2 gap-2 overflow-x-auto">
            <div class="flex flex-row max-w-[1000px] w-full mx-auto gap-2">
                <a class="mixin-button-like mixin-button-sm theme-button-generic-white shrink-0" href="/articles/tag/World">
                    World
                </a>
                <a class="mixin-button-like mixin-button-sm theme-button-generic-white shrink-0" href="/articles/tag/US">
                    US
                </a>
                <a class="mixin-button-like mixin-button-sm theme-button-generic-white shrink-0" href="/articles/tag/Europe">
                    Europe
                </a>
                <a class="mixin-button-like mixin-button-sm theme-button-generic-white shrink-0" href="/articles/tag/Sports">
                    Sports
                </a>
                <a class="mixin-button-like mixin-button-sm theme-button-generic-white shrink-0" href="/articles/tag/Tech">
                    Tech
                </a>
                <a class="mixin-button-like mixin-button-sm theme-button-generic-white shrink-0" href="/articles/tag/Economy">
                    Economy
                </a>
                <a class="mixin-button-like mixin-button-sm theme-button-generic-white shrink-0" href="/articles/tag/Culture">
                    Culture
                </a>
                <a class="mixin-button-like mixin-button-sm theme-button-generic-white shrink-0" href="/articles/tag/Arts">
                    Arts
                </a>
                <a class="mixin-button-like mixin-button-sm theme-button-generic-white shrink-0" href="/articles/tag/Culture">
                    Culture
                </a>
            </div>
        </div>
    </header>
    <div class="flex grow">
        <main class="h-full w-full flex flex-col">
            @RenderBody()
        </main>
    </div>
    @if (Model.Message is not null)
    {
        <section class="fixed inset-0 flex flex-row justify-center" id="system-message">
            <div class="bg-white border border-gray-900 divide-y divide-gray-900 shadow w-96 mt-4 h-fit">
                <header class="flex flex-row justify-between items-center py-2 px-4">
                    <div class="text-sm font-bold">
                        System Message
                    </div>
                    <button class="mixin-button-like mixin-button-sm theme-button-generic-red" role="close-system-message">
                        Close
                    </button>
                </header>
                <div class="py-2 px-4 font-sm">
                    @Model.Message
                </div>
            </div>
        </section>
    }
    <script>
        const systemMessage = document.getElementById("system-message");
        const systemMessageCloseButton = document.querySelector(`[role="close-system-message"]`);
        systemMessageCloseButton.addEventListener("click", () => systemMessage.remove());
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>
