@model BaseViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_News.MVC</title>
    <link rel="stylesheet" href="~/css/dist/output.css" asp-append-version="true" />
    <script src="~/js/dist/bundle.js" asp-append-version="true"></script>
</head>

<body class="flex flex-col bg-orange-50 relative">
    <header class="flex flex-col shrink-0 bg-white overflow-hidden token-default-shadow">
        <div class="px-4 py-2 gap-2 overflow-x-auto">
            <div class="flex flex-row max-w-[1000px] w-full mx-auto gap-2 justify-between">
                <ol class="flex flex-row gap-[inherit]">
                    <button type="button" class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-white gap-2 shrink-0">
                        <div>Menu</div>
                        <div>☰</div>
                    </button>
                    <a href="/" class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-white gap-2 shrink-0">
                        <div>Home</div>
                        <div>🏠︎</div>
                    </a>
                    <a href="/articles/search" class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-white gap-2 shrink-0">
                        <div>Search</div>
                        <div>❍</div>
                    </a>
                </ol>
                <ol class="flex flex-row gap-[inherit]">
                    @if (!User.Identity!.IsAuthenticated)
                    {
                        <a href="/register" class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-yellow shrink-0">
                            Register
                        </a>
                        <a href="/login" class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-yellow shrink-0">
                            Login
                        </a>
                    }
                    else
                    {
                        <a href="/users/account" class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-white shrink-0">
                            <div>User</div>
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="/articles/manage" class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-yellow shrink-0">
                                Manage Content
                            </a>
                        }
                        <a href="/logout" class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-red shrink-0">
                            Logout
                        </a>
                    }
                </ol>
            </div>
        </div>
        <hr class="token-x-divider"></hr>
        <div class="px-4 py-2 gap-2 overflow-x-auto">
            <div class="flex flex-row max-w-[1000px] w-full mx-auto gap-2">
                <a class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-white shrink-0" href="/articles/tag/World">
                    World
                </a>
                <a class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-white shrink-0" href="/articles/tag/US">
                    US
                </a>
                <a class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-white shrink-0" href="/articles/tag/Europe">
                    Europe
                </a>
                <a class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-white shrink-0" href="/articles/tag/Sports">
                    Sports
                </a>
                <a class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-white shrink-0" href="/articles/tag/Tech">
                    Tech
                </a>
                <a class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-white shrink-0" href="/articles/tag/Economy">
                    Economy
                </a>
                <a class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-white shrink-0" href="/articles/tag/Culture">
                    Culture
                </a>
                <a class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-white shrink-0" href="/articles/tag/Arts">
                    Arts
                </a>
                <a class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-white shrink-0" href="/articles/tag/Culture">
                    Culture
                </a>
            </div>
        </div>
        <hr class="token-x-divider"></hr>
    </header>
    <div class="flex grow">
        <main class="h-full w-full flex flex-col">
            @RenderBody()
        </main>
    </div>
    @if (Model.SystemMessage is not null)
    {
        <aside class="fixed inset-0 flex-row justify-between p-12">
            <section class="mixin-panel-like mixin-panel-base divide-y token-default-divide-color token-default-shadow border token-default-border-color" id="system-message">
                <header class="flex flex-row gap-4 justify-between items-center" data-role="panel-section">
                    <div class="token-default-title">
                        System Message
                    </div>
                    <button class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-red" role="close-system-message">
                        Close
                    </button>
                </header>
                <section data-role="panel-section">
                    <div class="token-card--default-text">
                        @Model.SystemMessage
                    </div>
                </section>
            </section>
        </aside>
    }
    <script>
        const systemMessage = document.getElementById("system-message");
        const systemMessageCloseButton = document.querySelector(`[role="close-system-message"]`);
        systemMessageCloseButton != null && systemMessageCloseButton.addEventListener("click", () => systemMessage.remove());
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>
