@using MVC_News.MVC.Models.Articles;
@using MVC_News.MVC.Models.Partials;
@model ListArticlesPageModel;
@{
    ViewData["Title"] = Model.Tag;
}

<div class="mixin-page-like mixin-page-base mixin-content-grid">

        <header class="flex flex-row gap-[inherit] items-center justify-between"  data-track="base" data-role="page-section">
            <div class="token-default-title">
                Articles ›› @Model.Tag
            </div>
        </header>
        <hr class="token-divider-x" data-track="base" />
        <div class="flex flex-col gap-4"  data-track="base" data-role="page-section">
            @foreach (var article in Model.Articles)
            {
                <partial name="Other/_SearchArticle" model=@article />
            }
        </div>

</div>