
@using MVC_News.MVC.Models.Articles;
@using MVC_News.MVC.Models.Partials;
@using System.Text.Json
@model PreviewArticlePageModel;
@{
    ViewData["Title"] = Model.Article.Title;
    var articleContent = new ArticleContentPartialViewModel(article: Model.Article, markup: Model.Markup);
}

<div class="mixin-page-like mixin-page-base mixin-content-grid">
    <form class="flex flex-row gap-2" data-track="base">
        <input hidden name="headerImage" value="@Model.Article.HeaderImage">
        <input hidden name="title" value="@Model.Article.Title">
        <textarea name="content" class="whitespace-pre-wrap" hidden>@Model.Article.Content</textarea>
        @if (Model.Article.IsPremium)
        {
            <input hidden name="isPremium" value="true"/>
        }
        else
        {
            <input hidden name="isPremium" value="false"/>
        }


        <!-- Empty hidden input so the value is sent as a list -->
        <input hidden name="tags" />
        @foreach (var tag in Model.Article.Tags)
        {
            <input hidden name="tags" value="@tag">        
        }

        <footer class="flex flex-row grow gap-2 justify-end">
            @if (Model.Next == "Create")
            {
                <button type="submit" formmethod="GET" formaction="/articles/create" class="mixin-button-like mixin-button-base theme-button-generic-white ml-auto">
                    Keep Editing
                </button>
            }
            else if (Model.Next == "Update")
            {
                <button type="submit" formmethod="GET" formaction="/articles/@Model.Article.Id/update" class="mixin-button-like mixin-button-base theme-button-generic-white ml-auto">
                    Keep Editing
                </button>
            }

            @if (Model.Next == "Create")
            {
                <button type="submit" formmethod="POST" formaction="/articles/create" class="mixin-button-like mixin-button-base theme-button-generic-green">
                    Create
                </button>
            }
            else if (Model.Next == "Update")
            {
                <button type="submit" formmethod="POST" formaction="/articles/@Model.Article.Id/update" class="mixin-button-like mixin-button-base theme-button-generic-green">
                    Update
                </button>
            }
        </footer>
    </form>
    <header class="flex flex-col gap-2" data-track="lg">
        @await Html.PartialAsync("Reusables/_CoverImage", new CoverImagePartialViewModel(
            className: "aspect-[16/9]",
            src: Model.Article.HeaderImage
        ))
    </header>
    <main class="flex flex-col gap-2" data-track="base">
        <partial name="Other/_ArticleContent" model=@articleContent />
    </main>
</div>