@using MVC_News.MVC.Models.Articles;
@using MVC_News.MVC.Models.Partials;
@model ReadArticlePageModel;
@{
    ViewData["Title"] = Model.Article.Title;
}

<div class="mixin-page-like mixin-page-base mixin-content-grid">
    <header class="flex flex-col gap-2" data-track="lg">
        @await Html.PartialAsync("Reusables/_CoverImage", new CoverImagePartialViewModel(
            className: "aspect-[16/9]",
            src: Model.Article.HeaderImage
        ))
    </header>
    <main class="flex flex-col gap-2" data-track="base">
        <div class="mixin-article-any">
            <header>
                <h1>
                    @Model.Article.Title
                </h1>
                <div class="flex flex-row overflow-hidden justify-between">
                    <div class="text-xs truncate">
                        @Model.Article.Author.DisplayName
                    </div>
                    <div class="text-xs text-gray-500 truncate">
                        @Model.Article.DateCreated
                    </div>
                </div>
                @if (Model.Article.IsPremium)
                {
                    <div class="mixin-button-like mixin-button-sm theme-button-generic-yellow w-fit">
                        Premium Article
                    </div>
                }
            </header>
            @Html.Raw(Model.Markup)
        </div>
        <footer class="flex flex-row gap-1 flex-wrap p-1 bg-gray-200 border border-gray-900">
            @foreach (var tag in Model.Article.Tags)
            {
                <a class="mixin-button-like mixin-button-base theme-button-generic-white">
                    @tag
                </a>
            }
        </footer>
    </main>
</div>