
@using MVC_News.MVC.Models.Articles;
@using MVC_News.MVC.Models.Partials;
@model UpdateArticlePageModel;
@{
    ViewData["Title"] = "Update Article";
}

<form class="mixin-page-like mixin-page-base mixin-content-grid">
    <header data-track="base" data-role="page-section">
        <div class="token-default-title">
            Update Article
        </div>
    </header>
    <hr class="token-divider-x" data-track="base" />
    <div class="flex flex-col gap-4" data-track="base" data-role="page-section">
        @await Html.PartialAsync("Reusables/_FormErrors", Model.Errors.TryGetValue("_", out var formErrors) ? formErrors : null)

        @await Html.PartialAsync("Reusables/_FormField", new FormFieldVPartialiewModel(
            label: "Header Image URL",
            errors: Model.Errors.TryGetValue("headerImage", out var headerImageErrors) ? headerImageErrors : null,
            partialRoute: "Reusables/_CharField",
            partialProps: new CharFieldPartialViewModel(
                value: Model.HeaderImage,
                name: "headerImage",
                inputAttrs: new Dictionary<string, string>()
            )
        ))
        
        @await Html.PartialAsync("Reusables/_FormField", new FormFieldVPartialiewModel(
            label: "Title",
            errors: Model.Errors.TryGetValue("title", out var titleErrors) ? titleErrors : null,
            partialRoute: "Reusables/_CharField",
            partialProps: new CharFieldPartialViewModel(
                value: Model.Title,
                name: "title",
                inputAttrs: new Dictionary<string, string>()
            )
        ))

        @await Html.PartialAsync("Reusables/_FormField", new FormFieldVPartialiewModel(
            label: "Content",
            errors: Model.Errors.TryGetValue("content", out var contentErrors) ? contentErrors : null,
            partialRoute: "Reusables/_Textarea",
            partialProps: new TextareaPartialViewModel(
                value: Model.Content,
                name: "content",
                textareaAttrs: new Dictionary<string, string>()
                {
                    { "rows", "20" }                    
                }
            )
        ))
        @await Html.PartialAsync("Reusables/_FormField", new FormFieldVPartialiewModel(
            label: "Content",
            errors: null,
            partialRoute: "Reusables/_TagField",
            partialProps: new TagFieldPartialViewModel(
                name: "tags",
                value: Model.Tags
            )
        ))

        @await Html.PartialAsync("Reusables/_FormField", new FormFieldVPartialiewModel(
            label: "Is a Premium Article?",
            errors: null,
            partialRoute: "Reusables/_CheckboxField",
            partialProps: new CheckboxFieldPartialViewModel(
                name: "isPremium",
                value: Model.IsPremium
            ),
            isRow: true
        ))
    </div>
    <hr class="token-divider-x" data-track="base" />
    <footer class="flex flex-row gap-4" data-track="base" data-role="page-section">
        <button type="submit" formmethod="POST" formaction="/articles/@Model.Id/update/preview" class="mixin-Sbutton-like mixin-Sbutton-base theme-Sbutton-generic-white ml-auto">
            Preview
        </button>
        <button type="submit" formmethod="POST" formaction="/articles/@Model.Id/update" class="mixin-Sbutton-like mixin-Sbutton-base theme-Sbutton-generic-green">
            Update
        </button>
    </footer>
</form>
