@using MVC_Classifieds.Api.Models.Users
@using MVC_News.MVC.Models.Partials

@{
    ViewData["Title"] = "Choose Subscription";
}

<div class="mixin-page-like mixin-page-base mixin-content-grid">
    <header data-role="page-section" data-track="base">
        <div class="token-default-title font-bold">
            Choose Subscription
        </div>
        <div class="text-sm text-gray-500">
            A Subscription is Required to View Premium Content
        </div>
    </header>
    <hr class="token-divider-x" data-track="base" />
    <main class="grid sm:grid-cols-3 max-[445px]:grid-cols-1 grid-cols-2 gap-4" data-role="page-section" data-track="base">
        <div class="mixin-Scard-like mixin-Scard-base theme-Scard-generic-white token-default-shadow token-default-border-color divide-y token-default-divide-color">
            <header data-role="section">
                <div class="token-card--header--primary-text">
                    1 Month Subscription
                </div>
                <div class="token-card--header--secondary-text">
                    20$ Per Month
                </div>
            </header>
            <section data-role="section">
                <a class="mixin-Sbutton-like mixin-Sbutton-base theme-Sbutton-generic-yellow justify-center" href="/users/checkout-subscription/?duration=1">
                    Choose
                </a>
            </section>
        </div>
        <div class="mixin-Scard-like mixin-Scard-base theme-Scard-generic-white token-default-shadow token-default-border-color divide-y token-default-divide-color">
            <header data-role="section">
                <div class="token-card--header--primary-text">
                     6 Month Subscription
                </div>
                <div class="token-card--header--secondary-text">
                    17$ Per Month
                </div>
            </header>
            <section data-role="section">
                <a class="mixin-Sbutton-like mixin-Sbutton-base theme-Sbutton-generic-yellow justify-center" href="/users/checkout-subscription/?duration=2">
                    Choose
                </a>
            </section>
        </div>
        <div class="mixin-Scard-like mixin-Scard-base theme-Scard-generic-white token-default-shadow token-default-border-color divide-y token-default-divide-color">
            <header data-role="section">
                <div class="token-card--header--primary-text">
                    1 Year Subscription
                </div>
                <div class="token-card--header--secondary-text">
                    12$ Per Month
                </div>
            </header>
            <section data-role="section">
                <a class="mixin-Sbutton-like mixin-Sbutton-base theme-Sbutton-generic-yellow justify-center" href="/users/checkout-subscription/?duration=3">
                    Choose
                </a>
            </section>
        </div>
    </main>
</div>