@using MVC_Classifieds.Api.Models.Users
@using MVC_News.MVC.Models.Partials
@using System.Text.Json
@model LoginPageModel;

@{
    ViewData["Title"] = "Login";
    // TODO: replace this with the new partials
}

<div class="mixin-page-like mixin-page-base mixin-content-grid">
    <div class="flex flex-col gap-4" data-track="base">
        <div class="bg-gray-200 border-gray-900 border px-2 py-1 text-sm flex flex-row gap-2 overflow-hidden justify-between ml-auto">
            <div class="truncate">
                Don't have an account?
            </div>
            <a class="text-blue-800 hover:underline" href="/register">Go to Register</a>
        </div>
        <header class="text-xl font-bold">
            Login
        </header>
        <form class="flex flex-col gap-2" action="/login" method="post">
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
            @await Html.PartialAsync("Reusables/_FormErrors", Model.Errors.TryGetValue("_", out var formErrors) ? formErrors : null)
           
            @await Html.PartialAsync("Reusables/_FormField", new FormFieldVPartialiewModel(
                label: "Email",
                errors: Model.Errors.TryGetValue("Email", out var emailErrors) ? emailErrors : null,
                partialRoute: "Reusables/_CharField",
                partialProps: new CharFieldPartialViewModel(
                    value: Model.Email,
                    name: "email",
                    inputAttrs: new Dictionary<string, string>()
                    {
                        { "type", "email" }
                    }
                )
            ))
            @await Html.PartialAsync("Reusables/_FormField", new FormFieldVPartialiewModel(
                label: "Password",
                errors: Model.Errors.TryGetValue("Password", out var passwordErrors) ? passwordErrors : null,
                partialRoute: "Reusables/_CharField",
                partialProps: new CharFieldPartialViewModel(
                    value: Model.Password,
                    name: "password",
                    inputAttrs: new Dictionary<string, string>()
                    {
                        { "type", "password" }
                    }
                )
            ))

            <footer class="flex flex-row gap-2 justify-end mt-2">
                <button class="mixin-button-like mixin-button-base theme-button-generic-white" type="reset">
                    Reset
                </button>
                <button class="mixin-button-like mixin-button-base theme-button-generic-green" type="submit">
                    Submit
                </button>
            </footer>
        </form>
    </div>
</div>