@using MVC_Classifieds.Api.Models.Users
@using MVC_News.MVC.Models.Partials
@model RegisterPageModel;

@{
    ViewData["Title"] = "Pee";
}

<form class="mixin-page-like mixin-page-base mixin-content-grid" action="/register" method="post">
    <header class="flex flex-row gap-4 items-center justify-between" data-role="page-section" data-track="base">
        <header class="token-default-title">
            Register
        </header>
        <a class="mixin-Sbutton-like mixin-Sbutton-sm theme-Sbutton-generic-white token-default-shadow" href="/login">Login</a>
    </header>
    <hr class="token-x-divider" data-track="base" />
    <section class="flex flex-col gap-4" data-role="page-section" data-track="base">
        @await Html.PartialAsync("Reusables/_FormErrors", Model.Errors.TryGetValue("_", out var formErrors) ? formErrors : null)
        
        @await Html.PartialAsync("Reusables/_FormField", new FormFieldVPartialiewModel(
            label: "Email",
            errors: Model.Errors.TryGetValue("Email", out var emailErrors) ? emailErrors : null,
            partialRoute: "Reusables/_CharField",
            partialProps: new CharFieldPartialViewModel(
                value: Model.Email,
                name: "email",
                inputAttrs: new Dictionary<string, string>()
                {
                    { "type", "email" }
                }
            )
        ))
        @await Html.PartialAsync("Reusables/_FormField", new FormFieldVPartialiewModel(
            label: "Password",
            errors: Model.Errors.TryGetValue("Password", out var passwordErrors) ? passwordErrors : null,
            partialRoute: "Reusables/_CharField",
            partialProps: new CharFieldPartialViewModel(
                value: Model.Password,
                name: "password",
                inputAttrs: new Dictionary<string, string>()
                {
                    { "type", "password" }
                }
            )
        ))
        @await Html.PartialAsync("Reusables/_FormField", new FormFieldVPartialiewModel(
            label: "Display Name",
            errors: Model.Errors.TryGetValue("DisplayName", out var displayNameErrors) ? displayNameErrors : null,
            partialRoute: "Reusables/_CharField",
            partialProps: new CharFieldPartialViewModel(
                value: Model.DisplayName,
                name: "displayName",
                inputAttrs: new Dictionary<string, string>()
                {
                    { "type", "text" }
                }
            )
        ))
    </section>
    <hr class="token-x-divider" data-track="base" />
    <footer class="flex flex-row gap-4 justify-end" data-role="page-section" data-track="base">
        <button class="mixin-Sbutton-like mixin-Sbutton-base theme-Sbutton-generic-white token-default-shadow" type="reset">
            Reset
        </button>
        <button class="mixin-Sbutton-like mixin-Sbutton-base theme-Sbutton-generic-green token-default-shadow" type="submit">
            Submit
        </button>
    </footer>
</form>