<table class="text-xs border token-default-border-color border-collapse bg-white">
    <thead>
        <tr class="border token-default-border-color">
            <th class="border token-default-border-color px-2 py-1 token-default-list__label">Markup Tag</th>
            <th class="border token-default-border-color px-2 py-1 token-default-list__label">HTML Conversion</th>
        </tr>
    </thead>
    <tbody>
        <tr class="border token-default-border-color">
            <td class="border token-default-border-color px-2 py-1 token-default-list__value"><code>[bold]...[/bold]</code></td>
            <td class="border token-default-border-color px-2 py-1 token-default-list__value"><code>&lt;strong&gt;...&lt;/strong&gt;</code></td>
        </tr>
        <tr class="border token-default-border-color">
            <td class="border token-default-border-color px-2 py-1 token-default-list__value"><code>[italic]...[/italic]</code></td>
            <td class="border token-default-border-color px-2 py-1 token-default-list__value"><code>&lt;em&gt;...&lt;/em&gt;</code></td>
        </tr>
        <tr class="border token-default-border-color">
            <td class="border token-default-border-color px-2 py-1 token-default-list__value"><code>[paragraph]...[/paragraph]</code></td>
            <td class="border token-default-border-color px-2 py-1 token-default-list__value"><code>&lt;p&gt;...&lt;/p&gt;</code></td>
        </tr>
        <tr class="border token-default-border-color">
            <td class="border token-default-border-color px-2 py-1 token-default-list__value"><code>[subheader]...[/subheader]</code></td>
            <td class="border token-default-border-color px-2 py-1 token-default-list__value"><code>&lt;h2&gt;...&lt;/h2&gt;</code></td>
        </tr>
        <tr class="border token-default-border-color">
            <td class="border token-default-border-color px-2 py-1 token-default-list__value"><code>[image url=URL caption=CAPTION]</code></td>
            <td class="border token-default-border-color px-2 py-1 token-default-list__value"><code>&lt;figure&gt;&lt;img src="URL" alt="CAPTION" /&gt;&lt;figcaption&gt;CAPTION&lt;/figcaption&gt;&lt;/figure&gt;</code>
            </td>
        </tr>
        <tr class="border token-default-border-color">
            <td class="border token-default-border-color px-2 py-1 token-default-list__value"><code>[link url=URL]...[/link]</code></td>
            <td class="border token-default-border-color px-2 py-1 token-default-list__value"><code>&lt;a href="URL"&gt;...&lt;/a&gt;</code></td>
        </tr>
    </tbody>
</table>