<table class="text-xs border border-gray-900 border-collapse bg-white">
    <thead>
        <tr class="border border-gray-900">
            <th class="border border-gray-900 px-2 py-1">Markup Tag</th>
            <th class="border border-gray-900 px-2 py-1">HTML Conversion</th>
        </tr>
    </thead>
    <tbody>
        <tr class="border border-gray-900">
            <td class="border border-gray-900 px-2 py-1"><code>[bold]...[/bold]</code></td>
            <td class="border border-gray-900 px-2 py-1"><code>&lt;strong&gt;...&lt;/strong&gt;</code></td>
        </tr>
        <tr class="border border-gray-900">
            <td class="border border-gray-900 px-2 py-1"><code>[italic]...[/italic]</code></td>
            <td class="border border-gray-900 px-2 py-1"><code>&lt;em&gt;...&lt;/em&gt;</code></td>
        </tr>
        <tr class="border border-gray-900">
            <td class="border border-gray-900 px-2 py-1"><code>[paragraph]...[/paragraph]</code></td>
            <td class="border border-gray-900 px-2 py-1"><code>&lt;p&gt;...&lt;/p&gt;</code></td>
        </tr>
        <tr class="border border-gray-900">
            <td class="border border-gray-900 px-2 py-1"><code>[subheader]...[/subheader]</code></td>
            <td class="border border-gray-900 px-2 py-1"><code>&lt;h2&gt;...&lt;/h2&gt;</code></td>
        </tr>
        <tr class="border border-gray-900">
            <td class="border border-gray-900 px-2 py-1"><code>[image url=URL caption=CAPTION]</code></td>
            <td class="border border-gray-900 px-2 py-1"><code>&lt;figure&gt;&lt;img src="URL" alt="CAPTION" /&gt;&lt;figcaption&gt;CAPTION&lt;/figcaption&gt;&lt;/figure&gt;</code>
            </td>
        </tr>
        <tr class="border border-gray-900">
            <td class="border border-gray-900 px-2 py-1"><code>[link url=URL]...[/link]</code></td>
            <td class="border border-gray-900 px-2 py-1"><code>&lt;a href="URL"&gt;...&lt;/a&gt;</code></td>
        </tr>
    </tbody>
</table>